
.notFound
    padding: 0    

    button
        padding: 0

@media screen and (max-width: 767px)
    .notFound
        margin: 40px 0 0

    .Contact
        display: grid !important
        gap: 15px

        .ContactItem
            flex-direction: initial !important
            justify-content: normal
            gap: 25px

            p
                font-size: 12px !important

            button
                font-size: 12px !important
    
    
.SectionThirteen
    background: radial-gradient(76.26% 198.87% at 50% 50.06%, #1085E5 0%, #0C52DB 100%)    
    color: white
    text-align: center
    padding: 5rem 0

    .Contact
        text-align: center
        display: flex
        justify-content: space-between
        margin: 2rem auto
        button
            color: white
            &::nth-of-type(3)
                margin: 10px 0

        .ContactItem
            display: flex
            flex-direction: column
            align-items: center

            p
                margin: 10px 0 0
                font-weight: 700
                font-size: 22px
                line-height: 30px
                text-align: center
                color: #FFFFFF
            button
                &:nth-last-of-type(1)
                    margin: 10px 0


