@import 'variables'

.Container_cards
    display: flex
    flex-wrap: wrap
    justify-content: center
    //width: 80%
    //column-gap: 25px !important
    //gap: 15px

.ContainerDefault
    h4
        margin: 1rem 0rem
        font-weight: 700
        font-size: 32px
        line-height: 34px
        color: #003057
    p
        margin: 2rem 0
        font-weight: 400
        font-size: 16px
        line-height: 22px
        color: #002340

.ContainerVariant
    //padding: 10rem 0
    padding: 4rem 0
    color: $color_white
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    span
        color: $color_white

.ContainerDark
    color: $color_white
    h4
        font-weight: 700
        font-size: 32px
        line-height: 44px
    p
        font-weight: 400
        font-size: 16px
        line-height: 22px
    span
        color: $color_white

.Label__Star
    display: flex
    justify-content: center
    color: #003057
    margin: 0.5rem 0

.label_Label
    h4
        display: none