@import 'variables'

.Convenios
    background: #F0F9FF
    padding: 2rem 0
.callConv
    text-align: center
    p
        font-style: normal
        font-weight: 700
        font-size: 14px
        line-height: 19px
        color: #002340
.DoctorsContainer
    background: #FFFFFF
    .DoctorsRow
        display: flex
        background: #FFFFFF
        button
            margin-top: 10%
            text-align: center
            width: 250px
            height: 50px
    .DoctorsRowTwo

.SectionThirteen
    text-align: center
    background: #F0F9FF
    padding: 4rem 0
    .boxContact
        background: #FFFFFF
        box-shadow: 0px 6px 15px rgba(1, 2, 4, 0.18)
        border-radius: 16px
        padding: 4rem

.ContactEquipeMedica
    text-align: center
    display: flex
    justify-content: space-around
    margin: 0rem auto
    .ContactItemEquipeMedica
        p
            margin: 10px 0
            font-weight: 700
            font-size: 22px
            line-height: 30px
            text-align: center
            color: #002340
        button
            &:nth-last-of-type(1)
                margin: 10px 0
