.SimpleContainer
    background-color: #F0F9FF
    display: flex
    flex-direction: column

    .SimpleContainerBox1
        margin: 5rem 0
        .center_Box
            height: 385px
            background-image: url('../public/banner/doctorSimpleBanner.svg')
            background-repeat: no-repeat
            background-position: center
            background-size: contain
            display: flex
            justify-content: center
            align-items: center
            .doctorPhoto
                margin-left: 10px
                width: 265px
        span
            font-family: 'Noto Sans'
            font-style: normal
            font-weight: 400
            font-size: 18px
            line-height: 25px
            color: #002340

        .doctorName
            text-align: right
            h1
                font-family: 'Noto Sans'
                font-weight: 700
                font-size: 42px
                line-height: 57px
                color: #002340
            p
                font-size: 16px
                line-height: 22px
                color: #0075FF

        .doctorSkills
            text-align: left
            .especialidades
                p
                    font-family: 'Noto Sans'
                    font-style: normal
                    font-weight: 600
                    font-size: 16px
                    line-height: 22px
                    color: #002340
                span
                    border-left: 1px solid #000000
                    padding: 5px 14px
                    font-family: 'Noto Sans'
                    font-style: normal
                    font-weight: 400
                    font-size: 16px
                    line-height: 22px
                    text-decoration-line: underline
                    color: #0075FF
                button
                    margin: 0 0 10px 0
                    padding: 5px 2px
                    background-color: transparent
                    box-shadow: none
                    span
                        margin-right: 4px !important

                    &:hover
                        color: blue
