@import 'home.module'

.EquipeMedica
    background: #F0F9FF
.SectionThirteen
    background: #F0F9FF
    .boxContact
        background: #FFFFFF
        box-shadow: 0px 6px 15px rgba(1, 2, 4, 0.18)
        border-radius: 16px
        padding: 4rem

.ContactEquipeMedica
    text-align: center
    display: flex
    justify-content: space-around
    margin: 0rem auto
    .ContactItemEquipeMedica
        p
            margin: 10px 0
            font-weight: 700
            font-size: 22px
            line-height: 30px
            text-align: center
            color: #002340
        button
            &:nth-last-of-type(1)
                margin: 10px 0
.locationClinica
    //color: red !important