
@import variables

.Label
    width: 100%
    text-transform: uppercase
    font-weight: 700
    line-height: 25px
    //font-size: 1.1rem
    font-size: 18px
    letter-spacing: 0.18em
    margin-bottom: 1rem
    color: #0D51DA
