.singleContainer
    // margin: 5rem auto
    padding: 8rem 0 2rem 0
    h1
        margin: 0
        font-style: normal
        font-weight: 700
        font-size: 32px
        line-height: 44px
        color: black
    p
        font-weight: 400
        font-size: 16px
        line-height: 22px
        color: #212529

    .titleBar
        width: 2px
        height: 51px
        background: #0075FF
    .verticalTitle
        margin-bottom: 3rem
        font-weight: 400
        font-size: 1.2rem
        line-height: 25px
        color: #0075FF
        transform: translateY(-1.5rem)
        transform: rotate(-90deg)
.titleIcon
    margin: 0 1rem 0 0
    width: 56px
    height: 56px
    background: #FFFFFF
    box-shadow: 0px 6px 25px rgba(0, 114, 197, 0.18)
    border-radius: 1000px
    display: flex
    justify-content: center
    align-items: center
    padding: 1rem

.callText
    padding: 1rem 0
.titleContent
    margin-top: -1rem
